<launch>
    <!-- Nodes -->
    <node name="joy_node" pkg="joy" type="joy_node">
        <param name="autorepeat_rate" value="60" type="double"/>
    </node>
    
    <node name="drive_values" pkg="drive_values" type="drive_values"/>
    
    <node name="RosAria" pkg="rosaria" type="RosAria" args="_port:=/dev/ttyS1"/> 

    <!-- Axes -->
    <param name="axis_linear" value="1" type="int"/>
    <param name="axis_angular" value="0" type="int"/>
    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="0.5" type="double"/>
</launch>