<launch>
    <!-- Nodes -->

    <node name="stereo_test_node" pkg="stereo_camera_testing" type="stereo_camera.py" output="screen"/>

    <node name="cone_driving_detection_node" pkg="pioneer_driver" type="cone_driving_detection_node" output="screen"/>

    <node name="joy_node" pkg="joy" type="joy_node">
        <param name="autorepeat_rate" value="60" type="double"/>
    </node>
    
    <node name="remote_driver_node" pkg="pioneer_driver" type="remote_driver_node"/>
    
    <node name="RosAria" pkg="rosaria" type="RosAria" args="_port:=/dev/ttyS1"/>

    <!-- Launch the sick scan lidar package to parse lidar input -->
    <include file="$(find sick_scan)/launch/sick_tim_7xx.launch"/>

    <node name="lidar_response_node" pkg="lidar_calcs" type="lidar_response_node"/>

    <node name="imu_publisher_node" pkg="imu_reader" type="imu_publisher_node.py"/>

    <node name="waypoint_driver_node" pkg="pioneer_driver" type="waypoint_driver_node" output="screen"/>

    <node name="nmea_serial_driver" pkg="nmea_navsat_driver" type="nmea_serial_driver" args="_baud:=9600 _port:=/dev/ttyACM0"/>

    <node name="controller_node" pkg="global_controller" type="controller_node.py" args="/home/group2/catkin_dependencies/coordinates.csv" output="screen"/>

    <node name="tkinter_node" pkg="user_interface" type="tkinterGui.py"/> 
    
    <!-- Axes -->
    <param name="axis_linear" value="1" type="int"/>
    <param name="axis_angular" value="0" type="int"/>
    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="0.5" type="double"/>
</launch>
